autoComponentScan: true
closeIdleSessions: true

mappings:

- uri: '/vaadin'
  theme: 'grails'
  pageTitle: 'Vaadin for Grails'
#  ui: '${packageName}.YourUI'
#  widgetset: '${packageName}.YourWidgetset'
  view: '${packageName}.IndexView'

#- uri: '/vaadin#!another'
#  view: '${packageName}.AnotherView'

